body {
  background-color: #222;
  color: #fff;
  position: relative;
}

.App {
  text-align: center;
  width: 60%;
  margin: auto;
}

.header {
  color: #ffe500;
  font-weight: bold;
  font-size: 6em;
}

.joke-text {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adsbygoogle {
  position: absolute;
  top: 0;
}